<%= form_with(model: drop, local: true) do |form| %>
  <% if drop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drop.errors.count, "error") %> prohibited this drop from being saved:</h2>

      <ul>
        <% drop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
