<p id="notice"><%= notice %></p>

<h1>Drops</h1>
<% @drops.each do |drop| %>
  <%= link_to drop, method: :delete  do %>
    <div class="water">
    </div>
  <% end %>
<% end %>
 

<h1>New Drop</h1>

<%= render 'form', drop: @drop %>
