// Place all the styles related to the drops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  background-image: url('https://source.unsplash.com/random/1800x800');
  }
.water{
  width:10em;
  height:10em;
  background-color:blue;
  border-radius:500px;
}